* { box-sizing: border-box; }

#playground {}


#hat {
  border: thin solid;
  border-radius: 10em;
  height: 55px;
  width: 280px;
  background-color: black;
  border-color: black;
  top: 255px;
  left: 767px;
  position: absolute;
}

#hat2 {
  border: thin solid;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  height: 110px;
  width: 230px;
  background-color: black;
  border-color: black;
  top: 155px;
  left: 790px;
  position: absolute;
}

.head {
  border: thin solid;
  border-radius: 10em;
  height: 370px;
  width: 255px;
  background-color: rgb(191, 133, 46);
  position: relative;
  top: 253px;
  left: 770px;
}

#right-ear {
  position: absolute;
  border-bottom-right-radius: 10em;
  border-top-right-radius: 10em;
    top: 350px;
    left: 988px;
    background-color: pink;
}

#left-ear {
  position: absolute;
  border-bottom-left-radius: 10em;
  border-top-left-radius: 10em;
    top: 350px;
    left: 720px;
    background-color: pink;
}


.ear {
  border: thin solid;
  height: 105px;
  width: 105px;
  background-color: pink;
  border-color: black;
}


#right-eye {
  position: absolute;
  top: 318px;
  left: 820px;
}

#left-eye {
  position: absolute;
  top: 318px;
  left: 915px;
}


.eye {
  border: thin solid;
  border-radius: 10em;
  height: 100px;
  width: 80px;
  background-color: white;
  border-color: black;
}


.pupil {
  border: thin solid;
  border-radius: 10em;
  height: 47px;
  width: 47px;
  background-color: black;
  border-color: black;
  top: 23px;
  left: 15px;
  position: absolute;
}

#nose {
  border: thin solid;
  border-radius: 10em;
  height: 80px;
  width: 80px;
  background-color: red;
  border-color: red;
  top: 400px;
  left: 868px;
  position: absolute;
}


#moustache {
  border: thin solid;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  height: 60px;
  width: 140px;
  background-color: black;
  border-color: black;
  top: 465px;
  left: 840px;
  position: absolute;
}

#mouse {
  border: thin solid;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;
  border-radius: 100em;
  height: 30px;
  width: 120px;
  background-color: white;
  border-color: black;
  top: 520px;
  left: 850px;
  position: absolute;
}

#right-shoe {
  position: absolute;
  border-top-left-radius: 10em;
  border-top-right-radius: 2em;
  top: 590px;
  left: 782px;
}


#left-shoe {
  position: absolute;
  border-top-left-radius: 2em;
  border-top-right-radius: 10em;
  top: 590px;
  left: 910px;
}


.shoe {
  border: thin solid;
  border-radius: 2em;
  height: 80px;
  width: 120px;
  background-color: blue;
  border-color: black;
}
